@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 12vh;
  z-index: 100;
}

.header .logo-adjust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  width: 100%;
}

.header .logo img {
  max-width: 85%;
  height: auto;
}

.header .Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .Menu a {
  margin: 5px;
  padding: 7px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: .1em;
}

.header .Menu a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: black;
  color: white;
  font-weight: 700;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-top: 1em;
}

.header .search .search-bar {
  display: inline-block;
  margin-right: 5px;
}

.header .search .search-bar .bar-search {
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: white;
}

.header .search .search-bar .bar-search input {
  position: relative;
  margin-left: 5px;
  background: none;
  border: none;
  width: 85%;
  color: white;
  border-left: 2px solid White;
  padding-left: 5px;
  outline: none;
}

.menu2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  float: right;
  color: white;
  top: 4vh;
  right: 0%;
  font-size: 1.5em;
}

.menu2-data {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: #2b0d61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu2-data i {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 2em;
  color: white;
}

.menu2-data-visible {
  visibility: visible;
}

.Menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Menu-bar a {
  margin: 5px;
  padding: 7px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: .1em;
}

.Menu-bar a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: black;
  color: white;
  font-weight: 700;
}

@media (max-width: 992px) {
  .search {
    margin: 0em 5px 2em 2px;
  }
  .Menu {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
  .menu2 {
    -webkit-transition: 1s;
    transition: 1s;
    visibility: visible;
    opacity: 1;
    z-index: 1001;
  }
  .header .logo {
    width: 50%;
  }
  .header .logo img {
    max-width: 60%;
    height: auto;
  }
}

@media (max-width: 776px) {
  .header .logo {
    width: 50%;
  }
  .header .logo img {
    max-width: 70%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .header .logo {
    width: 70%;
  }
  .header .logo img {
    max-width: 70%;
    height: auto;
  }
}

@media (max-width: 470px) {
  .header .logo {
    width: 90%;
  }
  .header .logo img {
    max-width: 100%;
    height: auto;
  }
}

.about-us {
  position: relative;
  color: white;
  padding-top: 3em;
}

.about-us .about-data {
  margin-top: 7em;
  height: 100%;
}

.about-us .about-data h1 {
  font-family: Monospace;
  font-weight: 600;
  font-size: 3em;
  font-style: oblique;
  letter-spacing: .1em;
}

.about-us .about-data h6 {
  margin-bottom: 1em;
  line-height: 1.7em;
}

.about-us .about-data button {
  background-color: none;
  z-index: 3;
  color: white;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: -5px -5px 12px #2b0d61, -3px -3px 8px rgba(43, 13, 97, 0.5), inset 2px 2px 12px rgba(43, 13, 97, 0.5), 2px 2px 12px black;
          box-shadow: -5px -5px 12px #2b0d61, -3px -3px 8px rgba(43, 13, 97, 0.5), inset 2px 2px 12px rgba(43, 13, 97, 0.5), 2px 2px 12px black;
}

.about-us .about-data button:hover {
  -webkit-box-shadow: inset 5px 5px 12px #2b0d61, -3px -3px 8px rgba(43, 13, 97, 0.5), inset -2px -2px 12px rgba(43, 13, 97, 0.5), -2px -2px 12px rgba(43, 13, 97, 0.1);
          box-shadow: inset 5px 5px 12px #2b0d61, -3px -3px 8px rgba(43, 13, 97, 0.5), inset -2px -2px 12px rgba(43, 13, 97, 0.5), -2px -2px 12px rgba(43, 13, 97, 0.1);
}

.about-us .about-data button:hover span {
  display: inline-block;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: .7;
}

.about-us .about-data .btn-login {
  margin-right: 2em;
}

@media (max-width: 768px) {
  .about-data {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (max-width: 995px) {
  .about-data {
    margin-left: 2em;
    margin-right: 2em;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background-img {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.background-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3001;
  background: #2b0d61;
  -webkit-animation: loading;
          animation: loading;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: White;
  font-size: 2em;
  overflow: hidden;
}

.animation::after {
  content: "";
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
}

@-webkit-keyframes load {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes load {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.part1 {
  position: relative;
  height: 88vh;
}

.part {
  margin-left: 1em;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.part h1 {
  margin-top: 3em;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 2em;
}

.part .reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.part .reverse .img-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-pop {
  -webkit-transition: 1s;
  transition: 1s;
  visibility: hidden;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.text-pop-visible {
  -webkit-transition: 1s;
  transition: 1s;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-pop-visible h6 {
  text-align: justify;
  line-height: 1.6em;
}

.part2 {
  position: relative;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  margin-bottom: 1em;
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img img {
  max-width: 100%;
}

@media (max-width: 776px) {
  .part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em 1em 0px 1em;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services h1 {
  margin-bottom: 1em;
  margin-top: 3em;
}

.services h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 500;
}

.services .services-data {
  display: -ms-grid;
  display: grid;
  width: 60%;
  padding: 1em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 1em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  justify-items: center;
}

.services .services-data a {
  text-decoration: none;
  color: black;
}

.services .services-data a:hover {
  opacity: .7;
}

.services .services-data .column {
  position: relative;
  height: 100%;
  border: 3px solid;
  border-radius: 10px;
  padding: 1em;
}

.services .services-data .column h5 {
  font-size: 2em;
  color: #e40000;
}

.services .services-data .column h1 {
  text-decoration: underline;
}

.services .services-data .column h6 {
  text-align: justify;
}

.services .services-data .column h6 span {
  text-decoration: underline;
  color: #1789af;
}

@media (max-width: 1100px) {
  .services .services-data {
    width: 70%;
  }
}

@media (max-width: 996px) {
  .services .services-data {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .services .services-data {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .services .services-data {
    width: 70%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (max-width: 500px) {
  .services .services-data {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .services .services-data {
    padding-right: 10px;
    padding-right: 10px;
    width: 90%;
  }
}

.Contact-us {
  background-color: 2b0d61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

.Contact-us .Contact-heading {
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
}

.Contact-us .copyright {
  position: relative;
  margin-top: 3em;
  color: white;
  opacity: .5;
}

.Contact-us .email-phone {
  margin-top: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Contact-us .email-phone h6 a {
  color: white;
  text-decoration: none;
}

.Contact-us .email-phone h6 a:hover {
  color: #3c57ec;
}

.Contact-us .email-phone h6:nth-child(1) {
  margin-left: 20px;
  padding-left: 1em;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}

.Contact-us .Social-handle {
  margin-top: 2em;
  font-size: 2em;
}

.Contact-us .Social-handle a {
  color: white;
  margin-left: 10px;
}

.Contact-us .Social-handle a:nth-child(1) {
  margin-left: 0px;
}

.Contact-us .Social-handle a:hover {
  opacity: .7;
}

@media (max-width: 400px) {
  .Contact-us .email-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Contact-us .email-phone h6 a {
    color: white;
    text-decoration: none;
  }
  .Contact-us .email-phone h6 a:hover {
    color: #3c57ec;
  }
  .Contact-us .email-phone h6:nth-child(1) {
    margin: 0px 0px 2em 0px;
    padding-left: 0px;
    border: none;
  }
}
/*# sourceMappingURL=car.css.map */